.testContainer {
    div {
        white-space: nowrap;
        position: relative;
        right: 50%;
    }

    div:nth-child(2) {
        margin-left: 6.5rem;
    }

    div:nth-child(3) {
        margin-left: 13rem;
    }
}

.sidewaysTextWorking {
    position: relative;

    left: calc(15vw - 100vw + 100% + #{$main-padding * 2});

    writing-mode: vertical-rl;
    transform: rotate(180deg);

    color: $white-color;
    font-weight: 800;
    font-size: 4rem;
}

.sidewaysText1 {
    position: absolute;

    left: calc(50vw - #{$main-padding} - 5rem);

    writing-mode: vertical-rl;

    color: $background-color;
    font-weight: 800;
    font-size: 4rem;
}

.sidewaysText2 {
    position: absolute;

    right: calc(50vw - #{$main-padding} - 5rem);

    writing-mode: vertical-rl;
    transform: rotate(180deg);

    color: $white-color;
    font-weight: 800;
    font-size: 4rem;
}

.redText {
    position: absolute;

    left: 50%;

    transform: translate(-50%);
    z-index: -1;

    white-space: nowrap;
    color: $secondary-color;
    font-weight: 800;
}

@keyframes questionWidth {
    0% {
        width: 0px;
    }
    100% {
        width: 973.25px;
    }
}

@keyframes questionHeight {
    0% {
        height: 86px;
        bottom: 0px;
    }

    100% {
        height: 0px;
        bottom: 43px;
    }
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 10;

    transform: translate(-50%);

    font-weight: 800;
    font-size: 75px;
    white-space: nowrap;

    color: $background-color;
    background-color: $secondary-color;

    width: fit-content;

    overflow: hidden;

    .content {
        display: flex;
        justify-content: center;

        position: relative;

        animation-name: questionWidth, questionHeight;
        animation-delay: 0s, 2s;
        animation-duration: 0.5s, 0.3s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
}
