@import "../Mixins.scss";
@import "../Variables.scss";

.testContainer {
    @include flexCenter($row: false);
    transform: translate(-50%);

    div {
        white-space: nowrap;
    }
}

.sidewaysTextWorking {
    position: relative;

    left: calc(15vw - 100vw + 100% + #{$main-padding * 2});

    writing-mode: vertical-rl;
    transform: rotate(180deg);

    color: $white-color;
    font-weight: 800;
    font-size: 64px;
}

.sidewaysText1 {
    position: absolute;

    left: calc(50vw - #{$main-padding} - 80px);

    writing-mode: vertical-rl;

    color: lighten($primary-color, 7%);
    font-weight: 800;
    font-size: 64px;
}

.sidewaysText2 {
    position: absolute;

    right: calc(50vw - #{$main-padding} - 80px);

    writing-mode: vertical-rl;
    transform: rotate(180deg);

    color: $white-color;
    font-weight: 800;
    font-size: 64px;
}

.redText {
    position: absolute;

    left: 50%;

    transform: translate(-50%);
    z-index: -1;

    color: $secondary-color;
    font-weight: 800;
}

@keyframes questionWidth {
    0% {
        width: 0vw;
    }
    100% {
        width: 65vw;
    }
}

@keyframes questionHeight {
    0% {
        height: 5.8vw;
        bottom: 0px;
    }

    100% {
        height: 0px;
        bottom: 2.9vw;
    }
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 10;

    transform: translate(-50%);

    font-weight: 800;
    font-size: 5vw;
    white-space: nowrap;

    color: $background-color;
    background-color: $secondary-color;

    width: fit-content;

    overflow: hidden;

    .content {
        display: flex;
        justify-content: center;

        position: relative;

        animation-name: questionWidth, questionHeight;
        animation-delay: 0s, 2s;
        animation-duration: 0.2s, 0.3s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
}

.smartphoneWarning {
    @include flexCenter($row: false);
    color: $white-color;

    .smartphoneImage {
        font-size: 45px;
        margin: 0px;
        padding: 0px;

        margin-bottom: 10px;
    }

    p {
        margin: 0px;
        color: darken($white-color, 10%);
        font-weight: 200;
        letter-spacing: 0.4px;
    }
}
