@import-normalize;
@import "./Mixins.scss";
@import "./Variables.scss";
@import "./Boxes.scss";

body {
    @include reset;
    background-color: $background-color;

    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

main {
    @include flexCenter(true);

    width: calc(100% - $main-padding);
    height: calc(100vh - $main-padding);
    margin: $main-padding;

    > div {
        @include fillHeight($main-padding);
    }

    overflow: hidden;
}
