@import-normalize;
@import "./Mixins.scss";
@import "./Variables.scss";
@import "./Boxes.scss";

body {
    @include reset;
    background-color: $background-color;

    font-family: "Poppins", sans-serif;
    overflow: hidden;

    user-select: none;
}

main {
    @include flexCenter(true);
    margin: $main-margin;

    > div {
        @include fillHeight($main-margin);
    }

    overflow: hidden;
}
